#menu2{
	ul li{
			a{
				color:black !important;
			}
		}
	.nav-pills>li.active>a{
		background-color: $rosa !important;
	}
}
.carrito{
	float: right;
}
.comment{
	font-size:1.2em;
	color: #848282;
	font-weight:500;
	padding:5px;
}
.dropdown{
	display:inline;
	*{
		margin-right: 10px;
	}
	button{
		background-color:$gris;
	}
}
#search{
		span{
			font-size: 18px;
			text-transform: uppercase;
			text-align: left
		}
}
ul{
	list-style:none;
	padding:0;
}
h3{
	text-transform:uppercase;
	font-weight:700;
	font-size:.9em;
	letter-spacing:2px;
}
