/*Utilities*/

.pdt{
	padding-top:30px;
}
.pd-20{
	padding-top:20px;
	padding-bottom:20px;
}
.mgb-20{
	margin-bottom:25px ;
}

.bck-gris{
	background-color:$gris;
}
.mgl-2{
	margin-left: 7%;
}
.fz1{
	font-size: 25px;
}
.mgt-5{
	margin-top: 5%;
}
.mgn{
	margin-top: -20%;
}
.mgt-13{
	margin-top: 13%;
}
.mgb-5{
	margin-bottom: 5%;
}
.bg-gray {
  background-color: #EEEEEE; }

.white {
  color: white; }

.red {
  color: #EA7E7E; }

.mt-3 {
  margin-top: 3%; }

.tb-1 {
  margin-top: 1%; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.f-left {
  float: left; }

.f-right {
  float: right; }