/*Utilities*/

.pdt{
	padding-top:30px;
}
.pd-20{
	padding-top:20px;
	padding-bottom:20px;
}
.mgb-20{
	margin-bottom:25px ;
}

.bck-gris{
	background-color:$gris;
}
.mgl-2{
	margin-left: 7%;
}
.fz1{
	font-size: 25px;
}
.mgt-5{
	margin-top: 5%;
}
.mgn{
	margin-top: -20%;
}
.mgt-13{
	margin-top: 13%;
}