$gris:#EEEEEE;
$negro:#444444;
$fuente: Arial,sans-serif;
$titles:"Raleway", sans-serif;
$col-princ:gray;
$rosa:#D97B7B;

@mixin bg($src){
	background-image: url($src);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}

@mixin fondocolor($color){
	background-color:$color;
}

