.contact{
	.banner{
		background-image: url(../images/manos.jpg);
	    height: 400px;
	    background-size: cover;
	    background-repeat: no-repeat;
    	position: relative;
    	z-index: -1;
    	-webkit-filter:brightness(30%);
    	height: 400px;
	}
	span{
		background-color: #D97B7B;
		font-size: 5em;
		text-transform: uppercase;
		color: white;
		text-align: center;
		font-weight: 500;
	}
	h4{
		color: white;

	}
	p{
		color: white;
	}
}
.form{
	input{
	background: $bg-gray;
	border:none;
  	width:100%;
  	height: 35px;
    padding-left: 21px;
    margin-top:5px;
	}

	textarea {
    width: 100%;
    background: $bg-gray;
    border: none;
    padding: 14px 21px;
    margin-top:5px;
	}
}
.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#D97B7B;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
	float: right;
	margin-top: -10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
#formu{
	margin-left: 24px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.banner{
	    height: 300px;
	    background-size: cover;
	    background-repeat: no-repeat;
    	position: relative;
    	z-index: -1;
    	-webkit-filter:brightness(30%);
	}
	span{
		background-color: #D97B7B;
		font-size: 2em;
		text-transform: uppercase;
		color: white;
		text-align: center;
		font-weight: 500;
		margin-top: -10px !important;
	}
	h4{
		color: white;
		margin: -6px;
	}
	p{
		color: white;
		margin:0;
	}
}
